<table class="sidebar round">
  <tr>
    <td>
      <%= link_to "Back", current_user %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "Add tractor driver", add_driver_path %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "Add land", add_land_path %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "Add operation", add_operation_path %>
    </td>
  </tr>
</table>